
.vs/Lunch-Planner/DesignTimeBuild/.dtbcache.v2
.vs/Lunch-Planner/FileContentIndex/14c7f2f0-60f6-4d91-97a5-00add8b609b4.vsidx
.vs/Lunch-Planner/FileContentIndex/719a923a-6590-499e-af7d-e0642a17d6e5.vsidx
.vs/Lunch-Planner/v17/.futdcache.v2
.vs/Lunch-Planner/v17/.suo
.vs/ProjectEvaluation/lunch-planner.metadata.v5.1
.vs/ProjectEvaluation/lunch-planner.projects.v5.1
Calendar/bin/Debug/net6.0-windows/LunchPlanner.dll
Calendar/bin/Debug/net6.0-windows/LunchPlanner.pdb
Calendar/obj/Debug/net6.0-windows/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/LunchPlanner.g.resources
Calendar/obj/Debug/net6.0-windows/LunchPlanner.pdb
Calendar/obj/Debug/net6.0-windows/LunchPlanner_0dxt23xg_wpftmp.AssemblyInfo.cs
Calendar/obj/Debug/net6.0-windows/LunchPlanner_0dxt23xg_wpftmp.AssemblyInfoInputs.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_0dxt23xg_wpftmp.assets.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_0dxt23xg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Calendar/obj/Debug/net6.0-windows/LunchPlanner_1tchi5ws_wpftmp.AssemblyInfo.cs
Calendar/obj/Debug/net6.0-windows/LunchPlanner_1tchi5ws_wpftmp.AssemblyInfoInputs.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_1tchi5ws_wpftmp.assets.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_1tchi5ws_wpftmp.csproj.BuildWithSkipAnalyzers
Calendar/obj/Debug/net6.0-windows/LunchPlanner_1tchi5ws_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Calendar/obj/Debug/net6.0-windows/LunchPlanner_231omh2i_wpftmp.AssemblyInfo.cs
Calendar/obj/Debug/net6.0-windows/LunchPlanner_231omh2i_wpftmp.AssemblyInfoInputs.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_231omh2i_wpftmp.assets.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_231omh2i_wpftmp.csproj.BuildWithSkipAnalyzers
Calendar/obj/Debug/net6.0-windows/LunchPlanner_231omh2i_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Calendar/obj/Debug/net6.0-windows/LunchPlanner_eaj2x0iv_wpftmp.AssemblyInfo.cs
Calendar/obj/Debug/net6.0-windows/LunchPlanner_eaj2x0iv_wpftmp.AssemblyInfoInputs.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_eaj2x0iv_wpftmp.assets.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_eaj2x0iv_wpftmp.csproj.BuildWithSkipAnalyzers
Calendar/obj/Debug/net6.0-windows/LunchPlanner_eaj2x0iv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Calendar/obj/Debug/net6.0-windows/LunchPlanner_elawwjqi_wpftmp.AssemblyInfo.cs
Calendar/obj/Debug/net6.0-windows/LunchPlanner_elawwjqi_wpftmp.AssemblyInfoInputs.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_elawwjqi_wpftmp.assets.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_elawwjqi_wpftmp.csproj.BuildWithSkipAnalyzers
Calendar/obj/Debug/net6.0-windows/LunchPlanner_elawwjqi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Calendar/obj/Debug/net6.0-windows/LunchPlanner_jvd5lrf0_wpftmp.AssemblyInfo.cs
Calendar/obj/Debug/net6.0-windows/LunchPlanner_jvd5lrf0_wpftmp.AssemblyInfoInputs.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_jvd5lrf0_wpftmp.assets.cache
Calendar/obj/Debug/net6.0-windows/LunchPlanner_jvd5lrf0_wpftmp.csproj.BuildWithSkipAnalyzers
Calendar/obj/Debug/net6.0-windows/LunchPlanner_jvd5lrf0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
Calendar/obj/Debug/net6.0-windows/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/LunchPlanner.g.resources
Calendar/obj/Debug/net6.0-windows/LunchPlanner.pdb
Calendar/obj/LunchPlanner_0dxt23xg_wpftmp.csproj.nuget.g.targets
Calendar/obj/LunchPlanner_0dxt23xg_wpftmp.csproj.nuget.g.props
Calendar/obj/LunchPlanner_0dxt23xg_wpftmp.csproj.nuget.dgspec.json
Calendar/obj/Debug/net6.0-windows/refint/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/ref/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/MainWindow.baml
Calendar/obj/Debug/net6.0-windows/LunchPlanner.pdb
Calendar/obj/Debug/net6.0-windows/LunchPlanner.g.resources
Calendar/obj/Debug/net6.0-windows/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/ref/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/refint/LunchPlanner.dll
.vs/Lunch-Planner/DesignTimeBuild/.dtbcache.v2
.vs/Lunch-Planner/FileContentIndex/14c7f2f0-60f6-4d91-97a5-00add8b609b4.vsidx
.vs/Lunch-Planner/v17/.futdcache.v2
.vs/Lunch-Planner/v17/.suo
.vs/ProjectEvaluation/lunch-planner.metadata.v5.1
.vs/ProjectEvaluation/lunch-planner.projects.v5.1
Calendar/obj/Debug/net6.0-windows/LunchPlanner.g.resources
Calendar/obj/Debug/net6.0-windows/LunchPlanner.pdb
Calendar/obj/Debug/net6.0-windows/MainWindow.baml
Calendar/obj/Debug/net6.0-windows/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/LunchPlanner.g.resources
Calendar/obj/Debug/net6.0-windows/LunchPlanner.pdb
Calendar/obj/Debug/net6.0-windows/MainWindow.baml
