Calendar/bin/
Calendar/obj/
Calendar/obj/Debug/net6.0-windows/
*.dll
*.resources
*.baml
*.pdb
Calendar/obj/Debug/net6.0-windows/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/LunchPlanner.g.resources
Calendar/obj/Debug/net6.0-windows/LunchPlanner.pdb
Calendar/obj/Debug/net6.0-windows/MainWindow.baml
Calendar/obj/Debug/net6.0-windows/MainWindow.g.cs
Calendar/obj/Debug/net6.0-windows/MainWindow.g.i.cs
Calendar/obj/Debug/net6.0-windows/ref/LunchPlanner.dll
Calendar/obj/Debug/net6.0-windows/refint/LunchPlanner.dll
*.vsidx
.vs/Lunch-Planner/v17/.suo
